:root {
  --grey-1: #F8F9FA;
  --grey-2: #E9ECEF;
  --grey-3: #DEE2E6;
  --grey-4: #CED4DA;
  --grey-5: #ADB5BD;
  --grey-6: #6C757D;
  --grey-7: #495057;
  --grey-8: #343A40;
  --grey-9: #212529;

  --background-colour: var(--grey-1);
  --background-colour-header: var(--grey-8);
  --background-colour-footer: var(--grey-8);
  --background-colour-controls: var(--grey-6);

  --text-colour: var(--grey-9);
  --header-text-colour: var(--grey-1);
  --footer-text-colour: var(--grey-4);

  --bright-link-color: #72bce0;

  --controls-button-background-color: var(--grey-2);
  --controls-button-background-color-selected: var(--grey-1);

  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-width: 300px;
  color: var(--text-colour);
  background-color: var(--background-colour);
}

#page{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  min-height: 5rem;
  background-color: var(--background-colour-header);
  color: var(--header-text-colour);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header h1 {
  margin: 0;
}

footer {
  min-height: 3rem;
  background-color: var(--background-colour-footer);
  color: var(--footer-text-colour);
  margin-top: auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

footer a {
  color: var(--bright-link-color);
}

#content {
  position: relative;
  flex-grow: 1;
  /*
  If I don't have overflow hidden this this will grow to fix the canvas. This
  can cause a kind of feedback loop with the canvas resizing, where its pixel
  size will be set to match its css size which will then grow to contain its
  pixel size etc. etc. This stops the css size from growing.
  */
  overflow: hidden;
}

canvas {
  height: 100%;
  width: 100%;
}

#controls {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: var(--background-colour-controls);
  padding: 1rem;
  border-radius: var(--border-radius);
}

#controls button {
  background-color: var(--controls-button-background-color);
  border: none;
  padding: 0.5rem;
  min-width: 5rem;
  border-radius: var(--border-radius);
}

#controls button:hover {
  cursor: pointer;
  background-color: var(--controls-button-background-color-selected);
}
